<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">Bem vindos ao MathMentor!</ion-title>
  </ion-toolbar>

</ion-header>
<ion-card class="cardImg">
  <ion-card-content>
    <img src="../../assets/logo4.png" >
  </ion-card-content>
</ion-card>
<ion-content [fullscreen]="true">
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Fredoka+One&display=swap" rel="stylesheet">
   <h2>Um aplicativo feito para mostrar que a matemática é como um jogo e está presente em todos os momentos da nossa vida!</h2>
   
</ion-content>

<ion-card class="cardimg2">
  <ion-card-content>
    <img class="imgMath2" src="../../assets/imgMath2 (1).png">
  </ion-card-content>
</ion-card>
<h5 style="font-family: Arial, Helvetica, sans-serif;"> by Leleu™</h5>
<ion-button class="entrar" [routerLink]="['/home']">Entrar</ion-button>
